
		<main class="main">
			<section class="page-banner text-center relative">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<h1 class="page-title wow fadeInUp">About us</h1>
							<ul class="breadcum wow fadeInUp">
								<li><a href="/about">Home</a></li>
								<li>About us</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="works relative purple ptb-100 overflow-h">
				<div class="container">
					<div class="row d-flex flex-center">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">What is Bitcoin</h6>
								<h2 class="title wow fadeInUp">How it Works</h2>
								<p class="wow fadeInUp">Bitcoin is a digital currency that operates independently of central banks and governments. It was created in 2009 by an unknown person using the pseudonym Satoshi Nakamoto</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInLeft">
							<div class="work-content relative z-index-1">
								<h3 class="section-sub">We’ve built a platform for cryptocurrency.</h3>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-1.png" class="relative z-index-1" alt="Decentralized Platform">
									</div>
									<div class="work-text">
										<h4 class="work-title">Decentralized Platform</h4>
										<p> Cryptocurrencies operate on a decentralized network, which means that they are not controlled by any central authority or government. This makes them resistant to censorship, manipulation, and interference.</p>
									</div>
								</div>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-2.png" class="relative z-index-1" alt="Crowd Wisdom">
									</div>
									<div class="work-text">
										<h4 class="work-title">Security</h4>
										<p>Cryptocurrencies use advanced cryptographic techniques to secure transactions and protect the privacy of users. The blockchain technology on which cryptocurrencies are based provides a tamper-proof and transparent record of all transactions.</p>
									</div>
								</div>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-3.png" class="relative z-index-1" alt="Rewards MeAchanism">
									</div>
									<div class="work-text">
										<h4 class="work-title">Transparency</h4>
										<p> Cryptocurrencies offer a high degree of transparency, with all transactions recorded on a public ledger that can be accessed by anyone. This makes it easy to track transactions and prevent fraud.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInRight">
							<div class="text-center">
								<img src="/mt4/images/work-img.png" class="relative z-index-1" alt="Works Image">
							</div>
						</div>
					</div>
				</div>
				<div class="pattern-bg">
					<img src="/mt4/images/dot-round-bg.png" class="patter" alt="Patter">
					<img src="/mt4/images/dot-round-bg.png" class="patter patter-2" alt="Patter">
				</div>
			</section>
			<section class="our-mission purple ptb-100 relative overflow-h">
				<div class="container">
					<div class="row flex-center">
						<div class="col-xl-6 col-lg-6 col-md-12 text-center">
							<div class="mission-video wow fadeInLeft">
								<img src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/mission.png" alt="Mission">
								<a href="javascript:void(0)" class="play-icon" data-bs-toggle="modal" data-bs-target="#video-open">
									<span>
										<i class="fa fa-play" aria-hidden="true"></i>
									</span>
								</a>
							</div>
							<!-- <div class="modal fade" id="video-open" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  	<div class="modal-dialog modal-dialog-centered" role="document">
							    	<div class="modal-content">
							        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          		<span aria-hidden="true">×</span>
							        	</button>
							        	<iframe class="video-play" src="https://www.youtube.com/embed/9xwazD5SyVg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							    	</div>
							  	</div>
							</div> -->

							<div class="modal fade" id="video-open" tabindex="-1" aria-labelledby="video-open" aria-hidden="true">
							  	<div class="modal-dialog modal-dialog-centered">
							    	<div class="modal-content">
								      	<button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">X</button>
								        <iframe class="video-play" src="https://www.youtube.com/embed/Gc2en3nHxA4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							    	</div>
							  	</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInRight">
							<div class="mission-content">
								<h3 class="mission-title">Our Mission</h3>
								<p>At MT4Synergy, our mission is to provide a reliable and secure platform for people to invest in cryptocurrencies. We believe that the world of digital currencies has enormous potential to revolutionize the way we think about money and finance. By providing a simple and easy-to-use platform, we aim to help people take advantage of the opportunities presented by cryptocurrencies and create a more equitable financial future for everyone.</p>
							</div>
						</div>
					</div>
					<div class="row flex-center pt-100">
						<div class="col-xl-6 col-lg-6 col-md-12 order-t-2 wow fadeInLeft">
							<div class="mission-content">
								<h3 class="mission-title">Why are so many people investing Digital currencies like BitCoin</h3>
								<p>Many investors see cryptocurrencies as a hedge against traditional currencies and the wider financial system. With governments around the world printing trillions of dollars in response to the COVID-19 pandemic, many people are concerned about inflation and the long-term value of fiat currencies. Cryptocurrencies, on the other hand, are not subject to the same inflationary pressures and are seen by some as a way to protect their wealth against currency devaluation.</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 text-center order-t-1 wow fadeInRight">
							<img src="/mt4/images/mission-2.png" alt="Mission">
						</div>
					</div>
				</div>
			</section>

			<section class="our-team bluish-purple relative overflow-h ptb-100">
				<div class="container relative">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">Meet the Team</h6>
								<h2 class="title wow fadeInUp">Our Team</h2>
								<p class="wow fadeInUp">At MT4Synergy, we have a dedicated team of professionals who are committed to providing our clients with exceptional service and support</p>
							</div>
						</div>
					</div>
					<div class="row relative z-index-1 justify-center">
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="team.html"><img src="/mt4/images/team-1.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="team.html">John Smith</a></h5>
								<span class="member-post">CEOFounder</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team.html"><img src="/mt4/images/team-2.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Adnan Connor</a></h5>
								<span class="member-post">Co-Founder/COO</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="/team"><img src="/mt4/images/team-3.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Rama Helene</a></h5>
								<span class="member-post">Head of Trading</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="/team"><img src="/mt4/images/team-4.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Helene Newsom</a></h5>
								<span class="member-post">Customer Support Manager</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pattern-bg">
						<img src="/mt4/images/dot-suqer.png" class="patter" alt="Patter">
						<img src="/mt4/images/dot-suqer.png" class="patter patter-2" alt="Patter">
					</div>
				</div>
			</section>
		</main>
