
		    
		 <section class="custom-social-proof" style="display: none" ;>
        <div class="custom-notification col-md-12">
          <div class="custom-notification-container">
             <div class="custom-notification-image-wrapper">
              
            </div>
            <div class="custom-notification-content-wrapper">
              <p class="custom-notification-content" style="color:white">
                <span id="country">Ryan</span> from
                <span id="product">Sandhurst has just earned $35,300</span>
                <small> <span id="time">1</span> &nbsp; </small>
              </p>
            </div>
          </div>
          <div class="custom-close"></div>
        </div>
      </section>

		<main class="main">
			<section class="home-banner relative overflow-h">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12 d-flex flex-center">
							<div class="banner-content relative z-index-1">
								<h1 class="banner-title wow fadeInLeft">Invest In <span>Cryptocurrency and Forex</span></h1>
								<p class="wow fadeInLeft">Invest, sell, trade, and earn cryptocurrency using the simplest and most secure cryptocurrency exchange platform on the market.</p>
								<a href="/signin" class="button wow fadeInLeft">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInUp">
							<div class="banner-img">
								<img src="/mt4/images/banner-img.png" alt="Banner Image">
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="works relative purple ptb-100 overflow-h">
				<div class="container">
					<div class="row d-flex flex-center">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">What is Bitcoin and Forex</h6>
								<h2 class="title wow fadeInUp">How it Works</h2>
								<p class="wow fadeInUp">Bitcoin is a digital currency that operates independently of central banks and governments. It was created in 2009 by an unknown person using the pseudonym Satoshi Nakamoto While Forex stands 
								for "Foreign Exchange," which refers to the global decentralized market where currencies are traded.</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInLeft">
							<div class="work-content relative z-index-1">
								<h3 class="section-sub">We’ve built a platform for cryptocurrency.</h3>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-1.png" class="relative z-index-1" alt="Decentralized Platform">
									</div>
									<div class="work-text">
										<h4 class="work-title">Decentralized Platform</h4>
										<p> Cryptocurrencies operate on a decentralized network, which means that they are not controlled by any central authority or government. This makes them resistant to censorship, manipulation, and interference.</p>
									</div>
								</div>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-2.png" class="relative z-index-1" alt="Crowd Wisdom">
									</div>
									<div class="work-text">
										<h4 class="work-title">Security</h4>
										<p>Cryptocurrencies use advanced cryptographic techniques to secure transactions and protect the privacy of users. The blockchain technology on which cryptocurrencies are based provides a tamper-proof and transparent record of all transactions.</p>
									</div>
								</div>
								<div class="work-box relative">
									<div class="work-img relative">
										<img src="/mt4/images/work-icon-3.png" class="relative z-index-1" alt="Rewards MeAchanism">
									</div>
									<div class="work-text">
										<h4 class="work-title">Transparency</h4>
										<p> Cryptocurrencies offer a high degree of transparency, with all transactions recorded on a public ledger that can be accessed by anyone. This makes it easy to track transactions and prevent fraud.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 wow fadeInRight">
							<div class="text-center">
								<img src="/mt4/images/work-img.png" class="relative z-index-1" alt="Works Image">
							</div>
						</div>
					</div>
				</div>
				<div class="pattern-bg">
					<img src="/mt4/images/dot-round-bg.png" class="patter" alt="Patter">
					<img src="/mt4/images/dot-round-bg.png" class="patter patter-2" alt="Patter">
				</div>
			</section>

			<section class="features bluish-purple ptb-100 overflow-h">
				<div class="container relative">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">MT4Synergy Feature</h6>
								<h2 class="title wow fadeInUp">Best Features</h2>
								<p class="wow fadeInUp">We offer a range of features and benefits to help investors navigate the world of cryptocurrency. Here are some of the key features of MT4Synergy</p>
							</div>
						</div>
					</div>
					<div class="row relative z-index-1">
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-1.png" class="feature-icon mb-30" alt="Currency Wallet">
									<h4 class="feature-title mb-20">
									<a href="/feature">Currency Wallet</a></h4>
									<p>MT4Synergy offers a range of crypto wallets that are designed to meet the needs and preferences of different investors. </p>
								</div>
								<div class="box-inner purple backend">
									<p>A crypto wallet is a digital wallet that stores private keys, which are used to access and manage cryptocurrencies.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-2.png" class="feature-icon mb-30" alt="Internal Integrition">
									<h4 class="feature-title mb-20">
									<a href="/feature">Advanced Trading tools</a></h4>
									<p>MT4Synergy offers advanced trading tools to help investors maximize their returns and manage risk.</p>
								</div>
								<div class="box-inner purple backend">
									<p>These tools include automated trading algorithms, charting and technical analysis tools, and risk management tools.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-3.png" class="feature-icon mb-30" alt="Security Storage">
									<h4 class="feature-title mb-20"><a href="/feature">Security Storage</a></h4>
									<p>MT4Synergy uses advanced security measures to protect investors' assets and personal information.</p>
								</div>
								<div class="box-inner purple backend">
									<p>Transactions are processed quickly and securely, and investors have access to a transparent record of all their transactions.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-4.png" class="feature-icon mb-30" alt="Reliable & Low Cost">
									<h4 class="feature-title mb-20"><a href="/feature">User Friendly Platform</a></h4>
									<p>MT4Synergy offers a user-friendly platform that is easy to navigate and use, even for beginner investors</p>
								</div>
								<div class="box-inner purple backend">
									<p>The platform includes a range of educational resources, including videos, tutorials, and webinars, to help investors learn about cryptocurrency and investment strategies.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-5.png" class="feature-icon mb-30" alt="Insurence Protection">
									<h4 class="feature-title mb-20"><a href="/feature">Flexible investment</a></h4>
									<p> MT4Synergy offers flexible investment options to suit the needs and preferences of different investors</p>
								</div>
								<div class="box-inner purple backend">
									<p>Investors can choose from a range of investment strategies, including long-term investment, swing trading, and day trading.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-xl-4 col-md-4 feature-box wow fadeInUp">
							<div class="box-outer mb-30 transition">
								<div class="box-inner purple frontend">
									<img src="/mt4/images/feature-icon-6.png" class="feature-icon mb-30" alt="Experts Support">
									<h4 class="feature-title mb-20"><a href="/feature">Experts Support</a></h4>
									<p>MT4Synergy provides dedicated customer support to help investors with any questions or issues they may have. </p>
								</div>
								<div class="box-inner purple backend">
									<p>Customer support is available 24/7 via email, phone, or live chat.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="pattern-bg">
						<img src="/mt4/images/dotline-bg" class="patter" alt="Patter">
						<img src="/mt4/images/dotline-bg" class="patter patter-2" alt="Patter">
					</div>
				</div>
			</section>

<section class="roadmap purple relative overflow-h ptb-100">

<div class="section-heading text-center">
								
								<h3 class="title wow fadeInUp">Financial Markets</h3>
								<p class="wow fadeInUp">Explore our financial markets</p>
							</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container px-lg-5">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Financial Markets</span></a> by Tradingview</div>
  <script type="text/javascript" src="http://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "12M",
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "700",
  "largeChartUrl": "",
  "isTransparent": true,
  "showSymbolLogo": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
  "plotLineColorFalling": "rgba(41, 98, 255, 1)",
  "gridLineColor": "rgba(250, 240, 240, 0)",
  "scaleFontColor": "rgba(120, 123, 134, 1)",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "tabs": [
    {
      "title": "Cryptocurrency",
      "symbols": [
        {
          "s": "BINANCE:BTCUSDT"
        },
        {
          "s": "BITSTAMP:BTCUSD"
        },
        {
          "s": "BINANCE:ETHUSDT"
        },
        {
          "s": "BINANCE:GALAUSDT"
        },
        {
          "s": "COINBASE:ETHUSD"
        },
        {
          "s": "FTX:SHIBUSD"
        },
        {
          "s": "BINANCE:SOLUSDT"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Futures",
      "symbols": [
        {
          "s": "CME_MINI:ES1!",
          "d": "S&P 500"
        },
        {
          "s": "CME:6E1!",
          "d": "Euro"
        },
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ],
      "originalTitle": "Futures"
    },
    {
      "title": "Bonds",
      "symbols": [
        {
          "s": "CME:GE1!",
          "d": "Eurodollar"
        },
        {
          "s": "CBOT:ZB1!",
          "d": "T-Bond"
        },
        {
          "s": "CBOT:UB1!",
          "d": "Ultra T-Bond"
        },
        {
          "s": "EUREX:FGBL1!",
          "d": "Euro Bund"
        },
        {
          "s": "EUREX:FBTP1!",
          "d": "Euro BTP"
        },
        {
          "s": "EUREX:FGBM1!",
          "d": "Euro BOBL"
        }
      ],
      "originalTitle": "Bonds"
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      "originalTitle": "Forex"
    }
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->

</section>

			<section class="our-team bluish-purple relative overflow-h ptb-100">
				<div class="container relative">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">Meet the Team</h6>
								<h2 class="title wow fadeInUp">Our Team</h2>
								<p class="wow fadeInUp">At MT4Synergy, we have a dedicated team of professionals who are committed to providing our clients with exceptional service and support</p>
							</div>
						</div>
					</div>
					<div class="row relative z-index-1 justify-center">
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="/team"><img src="/mt4/images/team-1.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">John Smith</a></h5>
								<span class="member-post">CEOFounder</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team"><img src="/mt4/images/team-2.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Adnan Connor</a></h5>
								<span class="member-post">Co-Founder/COO</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="/team"><img src="/mt4/images/team-3.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Rama Helene</a></h5>
								<span class="member-post">Head of Trading</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
							<div class="team-box text-center purple">
								<div class="team-img">
									<a href="/team"><img src="/mt4/images/team-4.jpg" alt="Team Member"></a>
								</div>
								<h5 class="member-name"><a href="/team">Helene Newsom</a></h5>
								<span class="member-post">Customer Support Manager</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pattern-bg">
						<img src="/mt4/images/dot-suqer.png" class="patter" alt="Patter">
						<img src="/mt4/images/dot-suqer.png" class="patter patter-2" alt="Patter">
					</div>
				</div>
			</section>

			<section class="token-sale purple relative overflow-h ptb-100">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">Snaps</h6>
								<h2 class="title wow fadeInUp">Crypto Market Snaps</h2>
								<p class="wow fadeInUp">Keep track of the current happenings in the crypto market with our daily snaps.</p>
							</div>
						</div>
					</div>
					<div class="row d-flex flex-center relative z-index-1">
						<div class="col-xl-12 col-lg-12 col-md-12 wow fadeInLeft">
							<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/key-events/" rel="noopener" target="_blank"><span class="blue-text">Daily cryptocurrency news</span></a> by TradingView</div>
	<script type="text/javascript" src="http://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
	{
	"feedMode": "market",
	"market": "crypto",
	"colorTheme": "dark",
	"isTransparent": true,
	"displayMode": "regular",
	"width": "100%",
	"height": "830",
	"locale": "en"
  }
	</script>
  </div>
  <!-- TradingView Widget END -->
						</div>
					
					</div>
				</div>
				<div class="pattern-bg">
					<img src="/mt4/images/dot-full-round" class="patter" alt="Patter">
					<img src="/mt4/images/dot-full-round" class="patter patter-2" alt="Patter">
				</div>
			</section>

			<section class="our-blog bluish-purple relative overflow-h ptb-100">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">Crypto</h6>
								<h2 class="title wow fadeInUp">Crypto Converter</h2>
								<p class="wow fadeInUp">Check USD equivalents of cryptocurrencies with our live crypto converter</p>
							</div>
						</div>
					</div>
<div class="row">
	<div class="col-xl-4 col-lg-4 col-sm-12">
					<coin-stats-converter-widget sell-coin-id="bitcoin" buy-coin-id="tether" 
					locale="en" background="none" text-color="#FFFFFF" 
					border-color="rgba(255,255,255,0.15)" rotate-button-color="rgba(255,255,255,0.35)" 
					type="large" font="Roboto, Arial, Helvetica" width="400" ></coin-stats-converter-widget>
</div>
<div class="col-xl-4 col-lg-4 col-sm-12">
	<coin-stats-converter-widget sell-coin-id="ethereum" buy-coin-id="tether" 
	locale="en" background="none" text-color="#FFFFFF" 
	border-color="rgba(255,255,255,0.15)" rotate-button-color="rgba(255,255,255,0.35)" 
	type="large" font="Roboto, Arial, Helvetica" width="400" ></coin-stats-converter-widget>
</div>	
<div class="col-xl-4 col-lg-4 col-sm-12">
	<coin-stats-converter-widget sell-coin-id="litecoin" buy-coin-id="tether" 
	locale="en" background="none" text-color="#FFFFFF" 
	border-color="rgba(255,255,255,0.15)" rotate-button-color="rgba(255,255,255,0.35)" 
	type="large" font="Roboto, Arial, Helvetica" width="400" ></coin-stats-converter-widget>
</div>	
</div>
				</div>
				<div class="pattern-bg">
					<img src="/mt4/images/blog-bg-top.png" class="patter" alt="Patter">
					<img src="/mt4/images/blog-bg-bottom.png" class="patter patter-2" alt="Patter">
				</div>
			</section>

			<section class="ico-app purple relative overflow-h ptb-100">
				<div class="container">
					<div class="row d-flex flex-center">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="section-heading text-center relative z-index-1">
								<h6 class="sub-title text-uppercase wow fadeInUp">MT4CHEQUE APP</h6>
								<h2 class="title wow fadeInUp">Cryptocurrency Mobile App</h2>
								<p class="wow fadeInUp">MT4Synergy mobile app is an exciting new development that will provide our clients with even more convenience and flexibility when it comes to managing their investments.</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 relative z-index-1 wow fadeInLeft">
							<div class="app-description">
								<h3 class="token-title">Android & IOS App</h3>
								<p>We're excited to announce that MT4Synergy will soon be launching a mobile app, designed to provide our clients with even more convenience and flexibility when it comes to managing their investments.
								</p>
								<p>We're excited to announce that MT4Synergy will soon be launching a mobile app, designed to provide our clients with even more convenience and flexibility when it comes to managing their investments.

									The MT4Synergy mobile app will be available for both iOS and Android devices and will provide a range of features and benefits that are designed to enhance the user experience. </p>

								<a href="#" class="button">COMING SOON!</a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 relative z-index-1 wow fadeInRight">
							<div class="app-img text-center">
								<img src="/mt4/images/ico-app.png" alt="ICO App">
							</div>
						</div>
					</div>
				</div>
				<div class="pattern-bg">
					<img src="/mt4/images/app-bg-top.png" class="patter" alt="Patter">
					<img src="/mt4/images/app-bg-bottm.png" class="patter patter-2" alt="Patter">
				</div>
			</section>

			<section class="faq bluish-purple relative overflow-h ptb-100">
				<div class="container relative">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 relative z-index-1">
							<div class="section-heading text-center">
								<h6 class="sub-title text-uppercase wow fadeInUp">FAQS</h6>
								<h2 class="title wow fadeInUp">Frequently Asked questions</h2>
								<p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 relative z-index-1 wow fadeInLeft">
							<div class="faq-img">
								<img src="/mt4/images/faq.png" alt="FAQ">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 relative z-index-1 wow fadeInRight">
							<div class="faq-content">
							
								<div class="tab-content" id="myTabContent">
								  	<div role="tabpanel" class="tab-pane fade in active show" id="general" aria-labelledby="general-tab">
									    <div class="faq-box">
									      	<div class="faq-title">What is MT4Synergy?</div>
									      	<div class="faq-panel">
									        	MT4Synergy is an online cryptocurrency investment platform that allows users to buy, sell, and trade a variety of cryptocurrencies.
									      	</div>
									    </div>
									    <div class="faq-box">
									      	<div class="faq-title">How do i signup for MT4Synergy?</div>
									      	<div class="faq-panel">
									        	To sign up for MT4Synergy, simply visit our website and click on the "Sign Up" button. You will be prompted to enter your personal information and create an account.
									      	</div>
									    </div>
									    <div class="faq-box">
									      	<div class="faq-title">Is MT4Synergy secure?</div>
									      	<div class="faq-panel">
									        	Yes, MT4Synergy takes security very seriously and uses advanced security measures such as two-factor authentication and encryption to protect our clients' assets and prevent unauthorized access.
									      	</div>
									    </div>
									    <div class="faq-box">
									      	<div class="faq-title">What cryptocurrencies can I trade on MT4Synergy?</div>
									      	<div class="faq-panel">
									        	MT4Synergy supports a range of cryptocurrencies including Bitcoin, Ethereum, Litecoin, Ripple, and more.
									      	</div>
									    </div>
										<div class="faq-box">
											<div class="faq-title">Can I withdraw my cryptocurrencies from MT4Synergy?</div>
											<div class="faq-panel">
												Yes, you can easily withdraw your cryptocurrencies from MT4Synergy at any time. Simply go to the "Withdraw" section of your account and follow the instructions.
											</div>
									  </div>
									  <div class="faq-box">
										<div class="faq-title">Does MT4Synergy provide customer support?</div>
										<div class="faq-panel">
											Yes, MT4Synergy provides dedicated customer support to assist you with any questions or issues you may have. Our support team is available 24/7 via email, phone, or live chat.


										</div>
								  </div>
								  	</div>
							
							
								</div>
							</div>
						</div>
					</div>
					<div class="pattern-bg">
						<img src="/mt4/images/faq-bg.png" class="patter" alt="Patter">
						<img src="/mt4/images/faq-bg.png" class="patter patter-2" alt="Patter">
					</div>
				</div>
			</section>
		</main>

