<main class="main">
  <section class="page-banner text-center relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <h1 class="page-title">Register</h1>
          <ul class="breadcum">
            <li><a href="/">Home</a></li>
            <li>Register</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="login bluish-purple relative overflow-h ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="user-table">
            <div class="section-heading text-center">
              <h2 class="title">Create Account</h2>
            </div>
            <h6 style="text-align: center"></h6>
            <form
              class="login-form validate row"
              action="/signup"
              method="post"
              enctype="multipart/form-data"
              id="register"
            >
              <%- include("./partials/messages") %>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name="fullname"
                      required=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Username</label>
                    <input
                      type="text"
                      class="form-control round"
                      placeholder="Username"
                      required
                      name="username"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input
                      type="text"
                      class="form-control round"
                      placeholder="Email Address"
                      required=""
                      pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"
                      oninput="emaila(this)"
                      name="email"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Gender</label>
                    <select required name="gender" class="form-control">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Phone Number</label>
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      oninput="validatePhone(this.value);"
                      class="form-control"
                      placeholder="Phone Number"
                      required=""
                    />
                    <span id="msgp"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Nationality</label>
                    <input
                      type="text"
                      id="country"
                      name="country"
                      class="form-control"
                      placeholder="Enter your Country"
                      required=""
                    />
                    <span id="msgc"></span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Currency</label>
                    <select class="form-control" name="currency" id="">
                      <option value="">Select Currency</option>
                      <option value="$">United States Dollar</option>
                      <option value="€">Euro</option>
                      <option value="¥">Japanese Yen</option>
                      <option value="£">British Pound Sterling</option>
                      <option value="Fr.">Swiss Franc</option>
                      <option value="$">Canadian Dollar</option>
                      <option value="$">Australian Dollar</option>
                      <option value="¥">Chinese Yuan Renminbi</option>
                      <option value="kr">Swedish Krona</option>
                      <option value="kr">Norwegian Krone</option>
                      <option value="kr">Danish Krone</option>
                      <option value="$">Singapore Dollar</option>
                      <option value="$">Hong Kong Dollar</option>
                      <option value="₩">South Korean Won</option>
                      <option value="₹">Indian Rupee</option>
                      <option value="R$">Brazilian Real</option>
                      <option value="R">South African Rand</option>
                      <option value="$">New Zealand Dollar</option>
                      <option value="₽">Russian Ruble</option>
                      <option value="$">Mexican Peso</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Enter your Password"
                      required
                      id="pwd"
                      oninput="validatePassword(this.value);"
                      onkeyup="validatePassword(this.value);"
                      name="password"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Re-enter Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Re-enter Password"
                      required=""
                      name="password2"
                      id="pwd2"
                    />
                  </div>
                </div>
              </div>
              <span id="msg"></span>
              <span id="msg1"></span>

              <div class="login-btn-g">
                <div class="row">
                  <div class="col-7 d-flex flex-center"></div>
                  <div class="col-5 d-flex flex-center justify-right">
                    <button name="submit" type="submit" class="button">
                      Sign up
                    </button>
                  </div>
                </div>
              </div>

              <div class="new-account pt-0 text-center mt-20">
                <span>Already have an account with us</span>
                <a class="link" title="Create New Account" href="/signin"
                  >Login Here</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  function validatePin(pin) {
    // Do not show anything when the length of password is zero.
    if (pin.length <= 3) {
      document.getElementById("msgs").innerHTML =
        "Security pin must not be less than 4 digits";
      document.getElementById("msgs").style.color = "red";
      document.getElementById("numberField").style.borderColor = "red";
      document.getElementById("numberField2").style.borderColor = "red";
    } else {
      document.getElementById("msgs").innerHTML = "Valid!";
      document.getElementById("msgs").style.color = "green";
      document.getElementById("numberField").style.borderColor = "green";
      document.getElementById("numberField2").style.borderColor = "green";
    }
  }

  function validatePhone(phone) {
    // Do not show anything when the length of password is zero.
    if (phone.length <= 5) {
      document.getElementById("msgp").innerHTML = "Invalid Phone number";
      document.getElementById("msgp").style.color = "red";
      document.getElementById("phone").style.borderColor = "red";
    } else {
      document.getElementById("msgp").innerHTML = "Valid!";
      document.getElementById("msgp").style.color = "green";
      document.getElementById("phone").style.borderColor = "green";
    }
  }

  function validatePassword(password) {
    // Do not show anything when the length of password is zero.
    if (password.length === 0) {
      document.getElementById("msg").innerHTML = "";

      return;
    }

    // Create an array and push all possible values that you want in password
    var matchedCase = new Array();
    matchedCase.push("[$@$!%*#?&]"); // Special Charector
    matchedCase.push("[A-Z]"); // Uppercase Alpabates
    matchedCase.push("[0-9]"); // Numbers
    matchedCase.push("[a-z]"); // Lowercase Alphabates

    // Check the conditions
    var ctr = 0;
    for (var i = 0; i < matchedCase.length; i++) {
      if (new RegExp(matchedCase[i]).test(password)) {
        ctr++;
      }
    }
    // Display it
    var color = "";
    var strength = "";
    switch (ctr) {
      case 0:
      case 1:
      case 2:
        strength = "Password Strength: Very Weak";
        color = "red";
        break;
      case 3:
        strength = "Password Strength: Medium";
        color = "orange";
        break;
      case 4:
        strength = "Password Strength: Strong";
        color = "green";
        break;
    }
    document.getElementById("msg").innerHTML = strength;
    document.getElementById("msg").style.color = color;
    document.getElementById("pwd").style.borderColor = color;
    document.getElementById("pwd2").style.borderColor = color;

    if (color === "red" || password.length <= 5) {
      document.getElementById("submit").disabled = true;
      document.getElementById("submit").value = "Can't submit form";
      document.getElementById("msg3").innerHTML =
        "Make sure you fill the form properly";
      document.getElementById("msg1").innerHTML =
        "Please make sure to use uppercase letter and any of these symbols [$@$!%*#?&] and also make sure password must not be less than 6 characters";
      //document.getElementById("msg1").innerHTML = "Password must not be less than 6 characters";
    } else {
      document.getElementById("submit").disabled = false;
      document.getElementById("submit").value = "Submit";
      document.getElementById("msg1").innerHTML = "";
      document.getElementById("pwd").style.borderColor = "green";
      document.getElementById("pwd2").style.borderColor = "green";
      document.getElementById("msg3").innerHTML = "";
    }
  }
</script>

<script>
  var userName = document.querySelector("#numberField");

  userName.addEventListener("input", restrictNumber);

  function restrictNumber(e) {
    var newValue = this.value.replace(new RegExp(/[^\d]/, "ig"), "");
    this.value = newValue;
  }

  var userName2 = document.querySelector("#numberField2");

  userName2.addEventListener("input", restrictNumber);

  function restrictNumber(e) {
    var newValue = this.value.replace(new RegExp(/[^\d]/, "ig"), "");
    this.value = newValue;
  }
</script>
