<main class="main">
  <section class="page-banner text-center relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <h1 class="page-title wow fadeInUp">Team</h1>
          <ul class="breadcum wow fadeInUp">
            <li>
              <a
                href="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/index.html"
                >Home</a
              >
            </li>
            <li>Team</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="our-team bluish-purple relative overflow-h ptb-100">
    <div class="container relative">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="section-heading text-center">
            <h6 class="sub-title text-uppercase wow fadeInUp">Meet the Team</h6>
            <h2 class="title wow fadeInUp">Our Team</h2>
            <p class="wow fadeInUp">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim
              ad minim veniam.
            </p>
          </div>
        </div>
      </div>
      <div class="row relative z-index-1 justify-center">
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-1.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Susan J. Newsom</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-2.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Kallisto Suibhne</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-3.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Amaterasu Jocasta</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-4.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Saraid Anahit</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-team bluish-purple relative overflow-h pb-100">
    <div class="container relative">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="section-heading text-center">
            <h6 class="sub-title text-uppercase wow fadeInUp">Advisors</h6>
            <h2 class="title wow fadeInUp">Our advisors and board members</h2>
            <p class="wow fadeInUp">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim
              ad minim veniam.
            </p>
          </div>
        </div>
      </div>
      <div class="row relative z-index-1 justify-center">
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-1.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Kallisto Newsom</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-2.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Susan Anahit</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-3.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Amaterasu Newsom</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 team-box-main wow fadeInUp">
          <div class="team-box text-center purple">
            <div class="team-img">
              <a href="javascript:void(0)"
                ><img
                  src="https://themes.templatescoder.com/cryptorius/html/demo/1-0/01-Dark-Theme/images/team-4.jpg"
                  alt="Team Member"
              /></a>
            </div>
            <h5 class="member-name">
              <a href="javascript:void(0)">Saraid Newsom</a>
            </h5>
            <span class="member-post">Co-Founder</span>
            <ul>
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
